.header{
    height:60px;
    font-weight: bold;
    box-shadow: 0 2px 4px 0 rgba(4, 139, 72, 0.801);
    
    .wrap{
        max-width: auto;
        height: 100%;
        margin: 0 auto;
        position: relative;
        .logo{ 
            position: absolute;
            top:60%;
            left: 95px;
            //border:2px solid rgb(245, 248, 245);
            -webkit-transform:translateY(-50%);
            -moz-transform: translateY(-50%);
            transform: translateY(-50%);
        }

    }
    .callToAction{
        position:absolute;
        right:10px;
        top:5%;
        -webkit-transform:translateY(-50%);
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);
        ui,li{
            margin:0;
            padding: 0;

        }
        li{
            list-style-type: none;

        }
        a {
            font-size: 18px;
            line-height: 1;
            color:black;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}